.post {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  background-color: var(--color-yellow-800);
  text-align: center;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.post a {
  color: var(--color-yellow-100);
}

.image {
  width: 100%;
  max-height: 20rem;
  overflow: hidden;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.image img {
  object-fit: cover;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.content {
  padding: var(--size-4);
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.content h3 {
  margin: var(--size-2) 0;
  font-size: var(--size-6);
}

.content time {
  font-style: italic;
  color: var(--color-yellow-300);
}

.content p {
  line-height: var(--size-6);
}